.animeShowBodyContainer {
  display: flex;
  flex-direction: column;
  background-color: #252629;
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
  width: 90%;
}

.dayText {
  padding-left: 15px;
  padding-top: 5px;
  font-size: 30px;
  margin: 0px;
}