.dropdownLinks {
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-decoration: underline;
}

.dropdownSubmenus {
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.itemBorderBottom {
  border-bottom: solid 1px white;
}

.submenuItemBorder {
  border-bottom: solid 1px white;
  border-left: solid 1px white;
}