.hidden {
  display: none;
}

.display {
  display: block;
}

.fadeIn {
  animation: fadeIn 0.5s linear forwards;
}

.fadeOut {
  animation: fadeOut 0.5s linear forwards;
}

.rotate {
  transition: 0.2s;
  transform: rotate(3690deg)
}

.slideIn {
  animation: slideIn 0.2s linear forwards;
}

.slideOut {
  animation: slideOut 0.2s linear forwards
}

@keyframes slideIn {
  0% {
    visibility: collapse;
    left: -10px;
  }

  100% {
    visibility: visible;
    left: 12px;
  }
}

@keyframes slideOut {
  0% {
    visibility: visible;
    left: 12px;
  }

  100% {
    visibility: collapse;
    left: 200px;
  }
}

@keyframes fadeIn {
  0% {
    visibility: collapse;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }

  100% {
    visibility: collapse;
    opacity: 0;
  }
}