.hidden {
  display: none;
}

.display {
  display: block;
}

.fadeIn {
  animation: fadeIn 0.5s linear forwards;
}

.fadeOut {
  animation: fadeOut 0.5s linear forwards;
}

@keyframes fadeIn {
  0% {
    visibility: collapse;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }

  100% {
    visibility: collapse;
    opacity: 0;
  }
}